#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 6rem 2rem 2rem;
  text-align: center;
  justify-content: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  border-bottom: 1px solid #ddd;
  z-index: 1000;
  width: 100%;
  box-sizing: border-box;
}

#logo {
  display: flex;
  margin-right: auto;
}

#nav-buttons {
  display: flex;
  margin-left: auto;
}
