.item-list {
  list-style: none;
  margin: 1rem 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 60vw;
  text-align: left;
}

.primary {
  color: #1e1e2f;
  background-color: #d6eaf8;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}

.primary:hover {
  background-color: #7ea6e0;
  border-color: #1e1e2f;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}
